doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie-edge')
        script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js")
        title= "Heartbeat"
    body
        canvas(id="chart")
        script.
            setInterval(() => {
                location.reload()
            }, 6000)
            let datai = !{data}
            new Chart(document.getElementById("chart"),
                {
                    type: 'line',
                    data: {
                        labels: datai.flatMap(it => it.x),
                        datasets: [
                            {
                                label: "Heart-rate (BPM)",
                                data: datai.flatMap(it => it.y)
                            }
                        ]
                    }
                },
            )
